.DS_Store
server/.dart_tool/package_config.json
.dart_tool/package_config.json
.idea/modules.xml
.idea/runConfigurations/melos_bootstrap.xml
.idea/runConfigurations/melos_clean.xml
.idea/runConfigurations/melos_run_analyze.xml
.idea/runConfigurations/melos_run_check_license_header.xml
.idea/runConfigurations/melos_run_lint_all.xml
.idea/runConfigurations/melos_run_test_dart.xml
.idea/runConfigurations/melos_run_test_flutter.xml
.idea/runConfigurations/melos_run_test.xml

reinstall_flutter.sh
mongodb_scripts/create_service_account.js

# Proto files cloned from GitHub (external dependency)
packages/protos/proto/